div.no-select(ng-class="{loaded: !loader.spinnerActive}")
  #loader-wrapper
    #loader
    img.loader-icon(src='images/logo.svg')
    #loader-text {{loader.loadingStatusText}}
    .loader-section.section-left
    .loader-section.section-right
