/* Panel header button */
.modal-header-button {
  margin-top: -9px;
  margin-right: -16px;
}
/* Modal footnote */
.modal-footer-note {
  float: left;
  font-style: italic;
  text-align: left;
  line-height: 45px;
}
